body {
  background: #F7F7F7; }

.header {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between; }
  .header .hea_left img {
    width: 2.2rem; }
  .header .hea_centent {
    font-size: 0.4rem;
    align-items: center;
    display: flex; }
  .header .hea_right {
    font-size: 0.20rem;
    width: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .header .hea_right .you1 {
      height: 0.8rem;
      margin-top: 0.09rem; }
      .header .hea_right .you1 span {
        font-size: 0.40rem; }
      .header .hea_right .you1 p {
        margin-top: 0.1rem;
        font-size: 0.16rem; }
    .header .hea_right .you2 {
      height: 0.8;
      margin-top: 0.1rem; }
      .header .hea_right .you2 span {
        font-size: 0.33rem; }
      .header .hea_right .you2 p {
        margin-top: 0.1rem;
        font-size: 0.16rem; }

nav > ul:nth-of-type(1) {
  width: 100%;
  background-color: white;
  height: 1rem;
  border-top: 0.02rem solid #999;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  nav > ul:nth-of-type(1) li {
    width: 25%;
    height: 1rem;
    text-align: center;
    line-height: 1rem; }
    nav > ul:nth-of-type(1) li span {
      font-size: 0.35rem;
      display: block; }
      nav > ul:nth-of-type(1) li span b {
        width: 0.25rem;
        height: 0.15rem;
        color: #999;
        margin-left: 0.26rem; }
    nav > ul:nth-of-type(1) li .pp {
      color: #7ddcb9;
      font-size: 0.4rem; }

.nr {
  width: 100%;
  background: #fff; }
  .nr ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .nr ul li {
      width: 100%; }
      .nr ul li div.ys {
        width: 100%;
        padding: 0.36rem 0rem;
        display: flex;
        align-items: center; }
        .nr ul li div.ys .ys1 {
          width: 1.6rem;
          padding-right: 0.22rem; }
          .nr ul li div.ys .ys1 img {
            width: 1.6rem; }
        .nr ul li div.ys .ys2 {
          flex-grow: 1; }
          .nr ul li div.ys .ys2 .ys2_a {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.28rem; }
            .nr ul li div.ys .ys2 .ys2_a div:nth-of-type(1) {
              display: flex; }
              .nr ul li div.ys .ys2 .ys2_a div:nth-of-type(1) p {
                font-size: 0.36rem;
                color: #000;
                margin-right: 0.22rem; }
              .nr ul li div.ys .ys2 .ys2_a div:nth-of-type(1) span {
                display: inline-block;
                padding: 0.05rem;
                font-size: 0.24rem;
                background: #00BE9C;
                text-align: center;
                color: #fff;
                border-radius: 0.09rem; }
            .nr ul li div.ys .ys2 .ys2_a div:nth-of-type(2) p {
              font-size: 0.28rem;
              color: #999; }
              .nr ul li div.ys .ys2 .ys2_a div:nth-of-type(2) p span {
                color: #FEB505; }
          .nr ul li div.ys .ys2 .ys2_b {
            width: 100%;
            display: flex;
            margin-bottom: 0.2rem; }
            .nr ul li div.ys .ys2 .ys2_b p {
              font-size: 0.27rem;
              margin-right: 0.5rem; }
              .nr ul li div.ys .ys2 .ys2_b p span {
                color: #ccc; }

div.hy {
  background: #fff; }
  div.hy .xiamian {
    width: auto;
    margin: 0.18rem 0.16rem;
    background-color: white;
    font-size: #fff; }
    div.hy .xiamian ul {
      width: 100%;
      height: 0.82rem;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      div.hy .xiamian ul li {
        width: 33%;
        text-align: center;
        line-height: 0.82rem;
        font-size: 0.36rem; }
      div.hy .xiamian ul li:nth-of-type(1) {
        background-color: #39c893;
        color: white; }
      div.hy .xiamian ul li:nth-of-type(3) {
        background-color: #39c893;
        color: white; }
  div.hy .zi {
    background: white;
    width: auto;
    margin: 0 16px;
    text-indent: 0.4rem;
    margin-top: 0.18rem;
    font-size: 0.28rem;
    line-height: 0.3rem; }

.wzjs {
  width: 100%;
  background: #FFF;
  margin-top: 0.15rem; }
  .wzjs .js {
    width: 97%;
    margin: auto;
    padding: 0.36rem 0rem;
    font-size: 0.30rem;
    color: #333;
    text-align: justify; }
    .wzjs .js p {
      text-indent: 1rem; }

footer {
  margin-top: 0.18rem;
  background: #fff; }
  footer div {
    width: 100%;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer div span {
      font-size: 0.32rem; }
    footer div p {
      font-size: 0.28rem;
      color: #333;
      padding: 0; }
  footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.24rem; }
    footer ul li {
      font-size: 0.28rem; }
  footer > p {
    width: 100%;
    font-size: 0.28rem;
    text-align: center;
    padding-bottom: 0.24rem; }

.gg {
  width: 100%;
  height: 1.06rem;
  position: relative;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 100; }
  .gg img {
    position: absolute; }
  .gg img:nth-of-type(1) {
    top: 0;
    left: 0;
    width: 0.6rem; }
  .gg img:nth-of-type(2) {
    top: 0.08rem;
    left: 0.8rem;
    width: 1.12rem; }
  .gg p {
    width: 50%;
    font-size: 0.32rem;
    color: #fff;
    font-style: oblique;
    margin-top: 0.2rem;
    margin-left: 1.3rem;
    text-align: right; }
    .gg p span {
      color: #EED215; }
  .gg > span {
    display: inline-block;
    width: 1.75rem;
    height: 0.5rem;
    background: #FEB605;
    text-align: center;
    font-size: 0.24rem;
    border-radius: 0.4rem;
    line-height: 0.5rem;
    color: #fff;
    position: absolute;
    right: 0.08rem;
    top: 0.32rem; }

.yc {
  width: 100%;
  background: #CCCCCC;
  display: none; }
  .yc .yc_a {
    width: auto;
    margin: 0rem 0.08rem; }
    .yc .yc_a > div {
      font-size: 0.28rem;
      padding: 0.4rem 0rem 0.36rem 0rem;
      color: #000; }
    .yc .yc_a ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .yc .yc_a ul li {
        width: 32%;
        height: 0.58rem;
        background: #FFFFFF;
        font-size: 0.28rem;
        border: 0.01rem solid #EEEEEE;
        color: #999;
        margin: 0rem 0.03rem;
        margin-bottom: 0.25rem;
        text-align: center;
        line-height: 0.58rem; }
      .yc .yc_a ul .active {
        border-color: #00BE9C;
        color: #00BE9C; }
  .yc span {
    display: inline-block;
    width: 100%;
    height: 0.7rem;
    background: #00BE9C;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.7rem;
    color: #FFFDEF; }

/*# sourceMappingURL=index-8.css.map */
