* {
  margin: 0;
  padding: 0;
  list-style: none; }

.quan {
  background-color: #f4f4f4; }

.header {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between; }
  .header .hea_left img {
    width: 2.2rem;
    margin-left: 0.2rem; }
  .header .hea_centent {
    font-size: 0.4rem;
    align-items: center;
    display: flex; }
  .header .hea_right {
    font-size: 0.20rem;
    width: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .header .hea_right .you1 {
      height: 0.8rem;
      margin-top: 0.09rem; }
      .header .hea_right .you1 span {
        font-size: 0.40rem; }
      .header .hea_right .you1 p {
        margin-top: 0.1rem;
        font-size: 0.16rem; }
    .header .hea_right .you2 {
      height: 0.8;
      margin-top: 0.1rem; }
      .header .hea_right .you2 span {
        font-size: 0.33rem; }
      .header .hea_right .you2 p {
        margin-top: 0.1rem;
        font-size: 0.16rem; }

.box1 {
  width: 100%;
  height: 3.65rem;
  background: white;
  border-top: 0.2rem solid #f4f4f4; }
  .box1 div:nth-of-type(1) {
    width: 40%;
    height: 60%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.36rem; }
    .box1 div:nth-of-type(1) img {
      width: 90%;
      height: 90%; }
  .box1 div:nth-of-type(2) {
    width: 60%;
    height: 60%;
    float: left;
    margin-top: 0.36rem; }
    .box1 div:nth-of-type(2) ul {
      width: 100%;
      height: 100%; }
      .box1 div:nth-of-type(2) ul li {
        width: 100%;
        height: 20%; }
        .box1 div:nth-of-type(2) ul li p {
          color: #999;
          font-size: 0.24rem; }
        .box1 div:nth-of-type(2) ul li .sp1 {
          color: #FF6972; }
        .box1 div:nth-of-type(2) ul li .sp2 {
          color: #000; }
        .box1 div:nth-of-type(2) ul li .sp3 {
          color: #FEC4C6; }
      .box1 div:nth-of-type(2) ul li:nth-of-type(1) {
        font-size: 0.32rem;
        margin-top: 0.2rem; }
  .box1 div:nth-of-type(3) {
    width: 94%;
    margin: 0 auto; }
  .box1 p {
    font-size: 0.2rem;
    line-height: 0.5rem; }

.box2 {
  width: 100%;
  height: 1rem;
  background: white;
  border-top: 0.2rem solid #f4f4f4;
  border-bottom: 0.01rem solid #f4f4f4;
  font-size: 0.28rem; }
  .box2 ul {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around; }
    .box2 ul li {
      width: 25%;
      height: 1rem;
      text-align: center;
      line-height: 1rem; }

.box3 {
  width: auto;
  margin: 0 0.18rem;
  margin-top: 0.3rem; }
  .box3 img {
    width: 100%;
    height: 100%; }

.zi {
  background: white;
  width: auto;
  margin: 0 16px;
  text-indent: 0.4rem;
  margin-top: 0.18rem;
  font-size: 0.28rem;
  line-height: 0.3rem; }

footer {
  margin-top: 0.18rem;
  background: #fff; }

footer div {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

footer div span {
  font-size: 0.32rem; }

footer div p {
  font-size: 0.28rem;
  color: #333;
  padding: 0; }

footer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.24rem; }

footer ul li {
  font-size: 0.28rem; }

footer > p {
  width: 100%;
  font-size: 0.28rem;
  text-align: center;
  padding-bottom: 0.24rem; }

.gg {
  width: 100%;
  height: 1.06rem;
  position: relative;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 100; }

.gg img {
  position: absolute; }

.gg img:nth-of-type(1) {
  top: 0;
  left: 0;
  width: 0.6rem; }

.gg img:nth-of-type(2) {
  top: 0.08rem;
  left: 0.8rem;
  width: 1.12rem; }

.gg p {
  width: 50%;
  font-size: 0.32rem;
  color: #fff;
  font-style: oblique;
  margin-top: 0.2rem;
  margin-left: 1.3rem;
  text-align: right; }

.gg p span {
  color: #EED215; }

.gg > span {
  display: inline-block;
  width: 1.75rem;
  height: 0.5rem;
  background: #FEB605;
  text-align: center;
  font-size: 0.24rem;
  border-radius: 0.4rem;
  line-height: 0.5rem;
  color: #fff;
  position: absolute;
  right: 0.08rem;
  top: 0.32rem; }

/*# sourceMappingURL=14.css.map */
