@charset "utf-8";

body{
    background: #F7F7F7;
}


.header{
    width:100%;
    display: flex;
    background-color:white;
    justify-content: space-between;
    .hea_left img{
        width: 2.2rem;
        
     }  
     .hea_centent{
         font-size:0.4rem;
         align-items: center;
        display: flex;
     } 
     
     .hea_right{
         font-size:0.20rem;
         width:1.5rem;
         display: flex;
         justify-content: space-around;
         align-items: center;
         text-align: center;
        .you1{
         height:0.8rem;
         margin-top: 0.09rem;
         span{
             font-size: 0.40rem;
         }
         p{
              margin-top: 0.1rem;
              font-size:0.16rem;
         }
     }
      .you2{
        
         height:0.8;
          margin-top: 0.1rem;
          span{
             font-size: 0.33rem;
         }
          p{
              margin-top: 0.1rem;
              font-size:0.16rem;
         }
     } 
    }
}
//图片
.tp{
    width:100%;
    img{
        width: 100%;
    }
    
}
//间隔
.jg{
    background: #fff;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    border-bottom: 0.01rem solid #ccc;
    p{
        font-size:0.38rem;
        padding:0.4rem 0rem;
    }
    div{
        position:absolute;
        bottom:-0.27rem;
        left:42%;
        img{
            width:1rem;
            background: #f7f7f7;
        }
        
    }
}
.bd{
    width:100%;

    background: #fff;
    form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    input{
        width:5.86rem;
        height:0.7rem;
        border:1px solid #EAEAEA;
        border-radius: 0.05rem;
        text-indent: 0.28rem;
        margin-bottom:0.25rem;
        font-size:0.28rem;
        color:#CACACA;
    }
    div{
        display: flex;
        justify-content: space-between;
        width:5.86rem;
        height:0.7rem;
        font-size:0.28rem;
        margin-bottom:0.25rem;
        select{
            flex-grow: 1;
            height:0.7rem;
            border:1px solid #EAEAEA;
            border-radius: 0.05rem;
            font-size:0.28rem;
        }
    }
    input:nth-of-type(2){
        background: #FEB400;
        color:#fff;
        font-size:0.36rem;
    }
    margin-bottom:0.1rem;
}
.sm{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        display: inline-block;
        padding: 0rem 0.2rem;
        font-size:0.4rem;
        background: #fff;
        margin-bottom: -0.2rem;
    }
    margin:auto;
}
.dk{
    background: #fff;
    width:auto;
    margin:0 0.16rem;
    border:0.01rem dotted #00BE9C;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p{
        width:100%;
        font-size:0.28rem;
        text-align: center;
    }
    p:nth-of-type(1){
        margin-top: 0.5rem;
        color:#7E8C8D;
        span{
            color:#FF4450;
            margin-left: 0.2rem;
        }
    }
    p:nth-of-type(2){
        margin-top: 0.65rem;
    }
    p:nth-of-type(3){
        margin: 0.36rem 0rem;
        color:#7E8C8D;
        span{
            color:#EED215;
            margin-left: 0.2rem;
        }
    }
    >span{
        width:70%;
        display: inline-block;
        border:0.01rem solid #00BE9C;
        border-radius: 0.11rem;
        color:#00BE9C;
        text-align: center;
        padding:0.2rem 0rem;
        font-size:0.28rem;
        margin-bottom: 0.25rem;
    }
    
}
.ul{
    width:100%;
    padding: 0.6rem 0rem;
    background: #fff;
    ul{
        width:auto;
        margin:0 0.16rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li{
            width:30%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 0.2rem;
            border:0.02rem solid #ccc;
            border-top: none;
            border-left: none;
            div{
                width:1rem;
                height:1rem;
                border-radius: 50%;
                background: #00BE9C;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-size:0.5rem;
                    color:#fff;
                }
            }
            p:nth-of-type(1){
                width:100%;
                text-align: center;
                font-size:0.32rem;
                margin:0.2rem 0rem;
            }
            p:nth-of-type(2){
                width: 100%;
                text-align:justify;
                color:#CCCCCC;
                font-size:0.28rem;
                padding:0rem 0.05rem;
            }
        }
        li:nth-of-type(3),li:nth-of-type(6){
            border-right:none;
        }
         li:nth-of-type(4),li:nth-of-type(6),li:nth-of-type(5){
            border-bottom:none;
        }
    }
}
//文字介绍
.wzjs{
    width:100%;
    background: #FFF;
    margin-top:0.15rem;
    .js{
        width:97%;
        margin: auto;
        padding: 0.36rem 0rem;
        font-size:0.30rem;
        color:#333;
        text-align: justify;
        p{
            text-indent: 1rem;
            line-height: 0.4rem;
        }
    }
}
footer{
    margin-top: 0.18rem;
    background: #fff;
    div{
        width:100%;
        height:0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size:0.32rem;
        }
        p{
            font-size:0.28rem;
            color:#333;
            padding: 0;
        }
    }
    ul{
        width:100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0.24rem;
        li{
            font-size:0.28rem;
        }
    }
    >p{
        width:100%;
        font-size:0.28rem;
        text-align: center;
        padding-bottom: 0.24rem;
    }
}
