@charset "utf-8";

body{
    background: #F7F7F7;
}
//导航栏
header{
    width:100%;
    display: flex;
    justify-content: space-between;
    color:#ccc;
    div{
        margin:0.23rem 0.16rem;
        height:0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    div:nth-of-type(1){
        font-size:0.45rem;

    }
    div:nth-of-type(2){
        font-size:0.38rem;
        color:#000;
    }
    div:nth-of-type(3){
        text-align: center;
        flex-wrap: wrap;
        padding-top: 0.1rem;
        p:nth-of-type(1){
            width:100%;
            font-size:0.325rem;

        }
        p:nth-of-type(2){
            font-size:0.125rem;
            
        }
    }
}
//内容主题
.nrzt{
    width:100%;
    background: #202020;
    padding-top:1.04rem;
    padding-bottom:0.6rem;
    >div:nth-of-type(1){
        img{
        width:100%;
        }
        .dian{
            width:100%;
            height:0.685rem;
            border-bottom:0.02rem solid #38Ca94;
            ul{
                width:100%;
                display: flex;
                justify-content: space-around;
                li{
                     width:1.2rem;
                     text-align: center;
                     margin-top:0.46rem;
                     div{
                         width:0.45rem;
                         height:0.45rem;
                         border-radius:50%;
                         border:0.01rem solid #38CA94;
                         margin: auto;
                         margin-bottom: 0.3rem;
                         background: #202020;
                     }
                     p{
                         font-size:0.28rem;
                         color:#38CA94;
                     }
                }
            }
        }
    }
    .wz{
        width:100%;
        margin-top:1.28rem;
        height:1.5rem;
        line-height: 0.6rem;
        overflow: scroll;
        color:#fff;
        font-size:0.36rem;
        text-align: justify;
        
    }
    .wz::-webkit-scrollbar {
    display: none;
}
}
//文字介绍
.wzjs{
    width:100%;
    background: #FFF;
    margin-top:0.15rem;
    .js{
        width:97%;
        margin: auto;
        padding: 0.36rem 0rem;
        font-size:0.30rem;
        color:#333;
        text-align: justify;
        line-height:0.45rem;
        p{
            text-indent: 1rem;
        }
    }
}
//页脚
footer{
    margin-top: 0.18rem;
    background: #fff;
    div{
        width:100%;
        height:0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size:0.32rem;
        }
        p{
            font-size:0.28rem;
            color:#333;
            padding: 0;
        }
    }
    ul{
        width:100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0.24rem;
        li{
            font-size:0.28rem;
        }
    }
    >p{
        width:100%;
        font-size:0.28rem;
        text-align: center;
        padding-bottom: 0.24rem;
    }
}
.anniu{
    width:100%;
    height:1rem;
    background:#ff4351;
    opacity:0.8;
    position:fixed;
    bottom:0rem;
    font-size:0.36rem;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size:0.56rem;
    }
    div{
        display: flex;
        justify-content: center;
        align-items:center;
    }
   
}
